body {
  font-family: Arial;
  color: red;
}

div  {
  font-family: courier
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.is-hidden {
  display: none;
}


.area {
  background: blue;
  width: 400px;
  height: 100px;
  -webkit-filter: url('#fancy-goo');
  transition: transform .5s ease;
}

.ball {
  border-radius: 100%;
  background: blue;
  width: 30px;
  height: 30px;
  -webkit-filter: url('#fancy-goo');
  transition: transform .5s ease;
}

.area:hover .ball {
  transform: translateY(-50px);
}
